<div class="col-md-8 col-md-offset-2">
<div class="box box-primary">
  <div class="box-body box-profile">
<% provide(:title, @admin.name) %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2>Sửa thông tin</h2>

    <%= form_for(resource, as: resource_name,
      url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :name, t("admin.name") %><br />
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :email, t(:email) %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :phone, t(:phone) %><br />
        <%= f.text_field :phone, autofocus: true, class: "form-control" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>
          Currently waiting confirmation for: <%= resource.unconfirmed_email %>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :password, t(:password) %>
        <i><%= t :let_blank %></i><br/>
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>

      <%= f.label :password_confirmation, t(:password_confirmation) %><br/>
      <%= f.password_field :password_confirmation, autocomplete: "off",
        class: "form-control" %>

      <%= f.label :current_password, t(:current_password) %>
      <%= f.password_field :current_password, autocomplete: "off",
        class: "form-control" %>
      <br>
      <div class="actions text-center">
        <%= f.submit t("admin.save_change"), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
</div>
</div>
</div>
