<!--   <%= link_to "export_excel", export_file_excel_admins_universities_path(format: 'xlsx') %> -->
<% provide :title, t("university.all") %>
<div class="row">
  <h2 class="text-center"><%= t "university.all" %></h2>
  <div class="col-md-4">
    <div class="box box-primary">
      <div class="box-body box-profile">
        <h4>
          <%= t("admin.university.count_all") %>:
          <%= University.count %>
          <%= t("admin.university.universities")%>
        </h4>
      </div>
    </div>
    <div class="box box-primary">
      <div class="box-body box-profile">
        <%= form_tag import_file_excel_admins_universities_path, class:'form-inline', multipart: true do %>
          <%= label_tag 'select_file_excel', nil, class: 'sr-only' %>
          <%= file_field_tag :file , class: 'btn btn-default' %>
          <br>
          <%= label_tag 'import_excel', nil, class: 'sr-only' %>
          <%= submit_tag t(:import_excel) , class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
  <div  class="col-md-8">
    <div class="box box-primary">
      <div class="box-body box-profile">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th class="center"><%= t "university.code" %></th>
              <th class="center"><%= t "university.name" %></th>
              <th class="center"><%= t "admin.actions" %></th>
            </tr>
          </thead>
          <tbody>
            <%= render @universities %>
          </tbody>
        </table>
        <div class="text-center">
          <%= paginate @universities %>
        </div>
      </div>
    </div>
  </div>
</div>
