<div class="row">
  <div class="col-md-10 text col-md-offset-1">
    <div class="box box-primary">
      <div class="box-body box-profile">
        <h3 class="text-center">
          Name: <%= @university.name %>
        </h3>
        <div class="list-group list-group-unbordered">
          <div class="list-group-item">
            <span class="glyphicon glyphicon-user"></span>
            Code: <%= @university.code %>
          </div>
          <div class="list-group-item">
            <span class="glyphicon glyphicon-envelope"></span>
            Email: <%= @university.email %>
          </div>
          <div class="list-group-item">
            <span class="glyphicon glyphicon-envelope"></span>
            Phone: <%= @university.phone %>
          </div>
          <div class="list-group-item">
            <span class="glyphicon glyphicon-envelope"></span>
            Address: <%= @university.address %>
          </div>
          <div class="list-group-item">
            <span class="glyphicon glyphicon-envelope"></span>
            Website: <%= @university.web_site %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
