<div class="box box-primary">
  <div class="box-body box-profile">
    <h2 class="profile-username text-center">
      <%= @examinee.name %>
    </h2>
    <hr>
    <div class="list-group list-group-unbordered">
      <div class="list-group-item">
        <span class="glyphicon glyphicon-user"></span>
        <%= t :people_id %>: <%= @examinee.people_id %>
      </div>
      <div class="list-group-item">
        <span class="glyphicon glyphicon-credit-card"></span>
        <%= t :student_id%>: <%= @examinee.student_id %>
      </div>
      <div class="list-group-item">
        <span class="glyphicon glyphicon-envelope"></span>
        <%= t :email %>: <%= @examinee.email %>
      </div>
      <div class="list-group-item">
        <span class=" glyphicon glyphicon-earphone"></span>
        <%= t :phone %>: <%= @examinee.phone %>
      </div>
      <div class="list-group-item">
        <span class="glyphicon glyphicon-envelope"></span>
        <%= t :birthday %>: <%= @examinee.birthday %>
      </div>
      <div class="list-group-item">
        <span class="glyphicon glyphicon-home"></span>
        <%= t :home_town %>: <%= @examinee.home_town %>
      </div>
      <div class="list-group-item">
        <span class="glyphicon glyphicon-book"></span>
        <%= t :hight_school %>: <%= @examinee.hight_school %>
      </div>
    </div>
  </div>
</div>
