<div class="box box-primary">
  <div class="box-body box-profile">
    <h2 class="profile-username text-center"><%= t :result %></h2>
    <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th class="center"><%= t :exam %></th>
            <th class="center"><%= t :point %></th>
            <th class="center"><%= t :note %></th>
          </tr>
        </thead>
        <tbody>
          <% @exam_all.each do |exam| %>
            <tr>
              <td class="center"><%= t("#{exam.name}") %></td>
              <td class="center"><%= @result.send exam.name.downcase %></td>
              <td class="center"></td>
            </tr>
          <% end %>
        </tbody>
    </table>
  </div>
</div>
