<div class="box box-primary">
  <div class="box-body box-profile">
    <div class=" text-center">
      <h3>Điểm tốt nghiệp: <%= @examinee.graduate_score %></h3>
      <h3>Kết Quả: <%= @examinee.graduated? ? "Tốt Nghiệp" : "Không Tốt Nghiệp"%></h3>
    </div>
    <div class="list-group list-group-unbordered">
      <div class="list-group-item">
        <span class="glyphicon glyphicon-book"></span>
        Điểm ưu tiên: <%= @examinee.priority_point %>
      </div>
      <div class="list-group-item">
        <span class="glyphicon glyphicon-book"></span>
        Điểm khuyến khích: <%= @examinee.encourage_point %>
      </div>
      <div class="list-group-item">
        <span class="glyphicon glyphicon-book"></span>
        Điểm trung bình lớp 12: <%= @examinee.average_point %>
      </div>
    </div>
  </div>
</div>
