<% provide :title, t("examinee.all") %>
<div class="row">
  <h1><%= t "examinee.all" %></h1>
  <hr/>
    <%= link_to t("admin.examinee.new"), new_admins_examinee_path,
      class: "btn btn-success icon-trash icon-white" %>
  <hr/>
  <%= link_to "export", export_file_csv_admins_examinees_path(format: "csv") %>
  <%= link_to "export_csv", export_file_excel_admins_examinees_path(format: 'xlsx') %>
  <hr/>
  <%= form_tag import_file_csv_admins_examinees_path, class:'form-inline', multipart: true do %>
      <div class="form-group">
        <%= label_tag 'select_file_csv', nil, class: 'sr-only' %>
        <%= file_field_tag :file , class: 'btn btn-default' %>
      </div>
      <div class="form-group">
        <%= label_tag 'importcsv', nil, class: 'sr-only' %>
        <%= submit_tag "Import CSV" , class: 'btn btn-default' %>
      </div>
  <% end %>
  <hr/>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="center"><%= t "examinee.name" %></th>
        <th class="center"><%= t "examinee.email" %></th>
        <th class="center", colspan="3"><%= t "admin.actions" %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @examinees %>
    </tbody>
  </table>
  <div class="text-center">
    <%= paginate @examinees %>
  </div>
</div>
