<% provide :title, t("examinee.all") %>
<div class="row">
  <h2 class="text-center"><%= t "examinee.all" %></h2>
  <div class="col-md-4">
    <div class="box box-primary">
      <div class="box-body box-profile">
      Co tong cong: <%= Examinee.count %> thi sinh

      </div>
    </div>
    <div class="box box-primary">
      <div class="box-body box-profile">
        <%= link_to "export_csv", export_file_excel_admins_examinees_path(format: 'xlsx'),
          class: "btn btn-primary" %>
        <hr>
        <%= form_tag import_file_excel_admins_examinees_path, class:'form-inline', multipart: true do %>
          <div class="form-group">
            <%= label_tag 'select_file_excel', nil, class: 'sr-only' %>
            <%= file_field_tag :file , class: 'btn btn-default' %>
            <br>
            <%= label_tag 'import_excel', nil, class: 'sr-only' %>
            <%= submit_tag "Import Excel" , class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div  class="col-md-8">
    <div class="box box-primary">
      <div class="box-body box-profile">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th class="center"><%= t "examinee.people_id" %></th>
              <th class="center"><%= t "examinee.student_id" %></th>
              <th class="center"><%= t "examinee.name" %></th>
              <th class="center"><%= t "examinee.gender" %></th>
              <th class="center"><%= t "admin.actions" %></th>
            </tr>
          </thead>
          <tbody>
            <%= render @examinees %>
          </tbody>
        </table>
        <div class="text-center">
          <%= paginate @examinees %>
        </div>
      </div>
    </div>
  </div>
</div>
