<section>
  <h1>
    Cluster Name: <%= @cluster.name %>
  </h1>
  <hr class="style-one">
  <div class="list-group">
    <div class="list-group-item">
      <span class="glyphicon glyphicon-credit-card"></span>
      ClusterID: <%= @cluster.code %>
    </div>
    <div class="list-group-item">
      <span class="glyphicon glyphicon-envelope"></span>
      Email: <%= @cluster.email %>
    </div>
    <div class="list-group-item">
      <span class=" glyphicon glyphicon-earphone"></span>
      Phone: <%= @cluster.phone %>
    </div>
    <div class="list-group-item">
      <span class="glyphicon glyphicon-calendar"></span>
      Test Day: <%= @cluster.test_day %>
    </div>
    <div class="list-group-item">
      <span class="glyphicon glyphicon-home"></span>
      Address: <%= @cluster.address %>
    </div>
  </div>
  <hr class="style-one">
  <div>
    File:
    <%= link_to "Danh sach thi sinh thi tai cum thi", "#"%>
    (pdf)
  </div>
</section>