<section class="user_info">
  <h1>
    Name: <%= @examinee.name %>
  </h1>
  <hr>

  <div class="list-group">
    <div class="list-group-item">
      <span class="glyphicon glyphicon-user"></span>
      People ID: <%= @examinee.people_id %>
    </div>
    <div class="list-group-item">
      <span class="glyphicon glyphicon-credit-card"></span>
      Student ID: <%= @examinee.student_id %>
    </div>
    <div class="list-group-item">
      <span class="glyphicon glyphicon-envelope"></span>
      Email: <%= @examinee.email %>
    </div>
    <div class="list-group-item">
      <span class=" glyphicon glyphicon-earphone"></span>
      Phone: <%= @examinee.phone %>
    </div>
    <div class="list-group-item">
      <span class="glyphicon glyphicon-envelope"></span>
      Birthday: <%= @examinee.birthday %>
    </div>
    <div class="list-group-item">
      <span class="glyphicon glyphicon-home"></span>
      Home_town: <%= @examinee.home_town %>
    </div>
    <div class="list-group-item">
      <span class="glyphicon glyphicon-book"></span>
      Hight_school: <%= @examinee.hight_school %>
    </div>
  </div>
</section>
