<section class="map">
  <%= t :map %>
  <% unless object.map.nil? %>
  <div class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <%= t :manage %><b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to t(:edit), "" %></li>
    <li class="divider"></li>
      <li>
        <li><%= link_to t(:delete), "" %></li>
      </li>
    </ul>
  </div>
  <% else %>
    <div class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <%= t :manage %><b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li><%= link_to t(:new), "" %></li>
      </ul>
    </div>
  <% end %>
  <hr class="style-one">
  <% unless object.map.nil? %>
    <%= object.map.html_safe  %>
  <% else %>
    <div class="alert alert-info">
      <h3><%= t :not_map_for_object %></h3>
    </div>
  <% end %>
</section>