<div  class="well">
  <h3>Điểm tốt nghiệp: <%= @examinee.graduate_score %></h3>
  <h3>Kết Quả: <%= @examinee.graduated? ? "Tốt Nghiệp" : "Không Tốt Nghiệp"%></h3>
</div>
<section class="user_info">
  <div class="list-group">
    <div class="list-group-item">
      <span class="glyphicon glyphicon-book"></span>
      Diem uu tien: <%= @examinee.priority_point %>
    </div>
    <div class="list-group-item">
      <span class="glyphicon glyphicon-book"></span>
      Diem khuyen khich: <%= @examinee.encourage_point %>
    </div>
    <div class="list-group-item">
      <span class="glyphicon glyphicon-book"></span>
      Diem trung binh lop 12: <%= @examinee.average_point %>
    </div>
  </div>
</section>
