<% if current_cluster %>
  <%= link_to t(:edit_result),edit_cluster_examinee_result_path(@cluster,
    @examinee, @examinee.result) %>
<% end %>
<table class="table table-bordered">
    <thead>
      <tr>
        <th class="center"><%= t :exam %></th>
        <th class="center"><%= t :point %></th>
        <th class="center"><%= t :note %></th>
      </tr>
    </thead>
    <tbody>
      <% @exam_all.each do |exam| %>
        <tr>
          <td class="center"><%= exam.name %></td>
          <td class="center"><%= @result.find_exam exam.name.downcase %></td>
          <td class="center"></td>
        </tr>
      <% end %>
    </tbody>
</table>