<section class="user_info">
  <h1>
    Name: <%= @examinee.name %>
  </h1>
  <hr>
  <div class="list-group">
    <div class="list-group-item">
      <span class="glyphicon glyphicon-user"></span> People ID: <%= current_examinee.people_id %>
    </div>
    <div class="list-group-item">
      <span class="glyphicon glyphicon-credit-card"></span> Student ID: <%= current_examinee.student_id %>
    </div>
    <div class="list-group-item">
      <span class="glyphicon glyphicon-envelope"></span> Email: <%= current_examinee.email %>
    </div>
    <div class="list-group-item">
      <span class=" glyphicon glyphicon-earphone"></span> Phone: <%= current_examinee.phone %>
    </div>
    <div class="list-group-item">
      <span class="glyphicon glyphicon-envelope"></span> Birthday: <%= current_examinee.birthday %>
    </div>
    <div class="list-group-item">
      <span class="glyphicon glyphicon-home"></span> Home_town: <%= current_examinee.home_town %>
    </div>
    <div class="list-group-item">
      <span class="glyphicon glyphicon-book"></span> Hight_school: <%= current_examinee.hight_school %>
    </div>
  </div>
  <hr>
  <div>
  <h2>Graduated Total</h2>
    <%= render "shared/result_graduated"%>
  </div>
</section>