<% provide(:title, @examinee.name) %>
<h2><%= t :edit_result %></h2>

<%= form_for [@cluster, @examinee, @result] do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

<table class="table table-bordered well">
    <thead>
      <tr>
        <th class="center"><%= t :exam %></th>
        <th class="center"><%= t :point %></th>
      </tr>
    </thead>
    <tbody>
      <% @exam_all.each do |exam| %>
        <tr>
          <td class="center"><%= f.label exam.name.downcase %></td>
          <td class="center"><%= f.text_field exam.name.downcase, class: "form-control input-lg" %></td>
        </tr>
      <% end %>
    </tbody>
</table>

  <%= f.submit t(:edit), class: "btn btn-primary" %>

<% end %>


<%= link_to "Back", :back %>
