<tr>
  <td class="center">
    <%= major.code %>
  </td>
  <td style="padding: 0px">
    <% if major.major_infos.count > 1 %>
    <table class="table table-bordered" style="margin: 0px">
      <% major.major_infos.each do |major_info| %>
      <tr>
        <td><%= major_info.name %></td>
      </tr>
      <% end %>
    </table>
    <% else %>
      <%= major.major_infos.first.name %>
    <% end %>
  </td>
  <td class="center"><%= major.target %></td>
  <td style="padding: 0px">
    <% major.major_group_exams.each_with_index do |major_group_exam, index| %>
      <% group_exam = GroupExam.find_by id: major_group_exam.group_exam_id %>
      <%= index+1 %>.
      <%= (t("math")+"(#{group_exam.math})") unless group_exam.math == 0 %>
      <%= (t("literature")+"(#{group_exam.literature})") unless group_exam.literature == 0 %>
      <%= (t("english")+"(#{group_exam.english})") unless group_exam.english == 0 %>
      <%= (t("physical")+"(#{group_exam.physical})") unless group_exam.physical == 0 %>
      <%= (t("chemistry")+"(#{group_exam.chemistry})") unless group_exam.chemistry == 0 %>
      <%= (t("biological")+"(#{group_exam.biological})") unless group_exam.biological == 0 %>
      <%= (t("history")+"(#{group_exam.history})") unless group_exam.history == 0 %>
      <%= (t("geography")+"(#{group_exam.geography})") unless group_exam.geography == 0 %>
      <br>
    <% end %>
  </td>
  <td><%= link_to t("major.show"), university_major_path(major.university, major),
    class: "btn btn-primary"%></td>
</tr>
