<h1><%= @university.name %></h1>
  <table class="table table-bordered margin-0">
    <thead>
      <tr>
        <th class="center"><%= t "major.code" %></th>
        <th class="center"><%= t "major_info.name" %></th>
        <th class="center"><%= t "major_info.target" %></th>
        <th class="center"><%= t "major_info.group_exams" %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @majors %>
    </tbody>
  </table>
