<h1>Majors#index</h1>
  <%= link_to "export_csv", export_file_excel_universities_majors_path(format: 'xlsx') %>
  <%= link_to "export_group", export_file_excel_universities_major_group_exams_path(format: 'xlsx') %>
  <%= form_tag import_file_excel_universities_majors_path, class:'form-inline', multipart: true do %>
      <div class="form-group">
        <%= label_tag 'select_file_excel', nil, class: 'sr-only' %>
        <%= file_field_tag :file , class: 'btn btn-default' %>
      </div>
      <div class="form-group">
        <%= label_tag 'import_excel', nil, class: 'sr-only' %>
        <%= submit_tag "Import Excel for Major" , class: 'btn btn-default' %>
      </div>
  <% end %>

  <%= form_tag import_file_excel_universities_major_group_exams_path, class:'form-inline', multipart: true do %>
      <div class="form-group">
        <%= label_tag 'select_file_excel', nil, class: 'sr-only' %>
        <%= file_field_tag :file , class: 'btn btn-default' %>
      </div>
      <div class="form-group">
        <%= label_tag 'import_excel', nil, class: 'sr-only' %>
        <%= submit_tag "Import Excel for Major Group Exam" , class: 'btn btn-default' %>
      </div>
  <% end %>
<table class="table table-bordered margin-0">
  <thead>
    <tr>
      <th class="center"><%= t "major.code" %></th>
      <th class="center"><%= t "major_info.name" %></th>
      <th class="center"><%= t "major_info.target" %></th>
      <th class="center"><%= t "major_info.group_exams" %></th>
      <th class="center", colspan="3"><%= t "admin.actions" %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @majors %>
  </tbody>
</table>
