<div class="box box-primary">
  <div class="box-body box-profile">
<h2 class="text-center"><%= t("major.all") %></h2>

<!-- University can update whene before register time -->
<% if !register_time.nil? && !register_time.start_university_manage.nil? &&
  !register_time.end_university_manage.nil? &&
  Time.now >= register_time.start_university_manage &&
  Time.now <= register_time.end_university_manage %>

 <!--  <%= link_to "export_csv", export_file_excel_universities_majors_path(format: 'xlsx') %> -->
  <%= link_to "export_group", export_file_excel_universities_major_group_exams_path(format: 'xlsx') %>
  <br>
  <%= link_to "export_benchmark", export_file_excel_universities_benchmarks_path(format: 'xlsx') %>
  <%= form_tag import_file_excel_universities_majors_path, class:'form-inline', multipart: true do %>
      <div class="form-group">
        <%= label_tag 'select_file_excel', nil, class: 'sr-only' %>
        <%= file_field_tag :file , class: 'btn btn-default' %>
      </div>
      <div class="form-group">
        <%= label_tag 'import_excel', nil, class: 'sr-only' %>
        <%= submit_tag t("university.import_excel_major"),
          class: 'btn btn-primary' %>
      </div>
  <% end %>

  <%= form_tag import_file_excel_universities_major_group_exams_path, class:'form-inline', multipart: true do %>
      <div class="form-group">
        <%= label_tag 'select_file_excel', nil, class: 'sr-only' %>
        <%= file_field_tag :file , class: 'btn btn-default' %>
      </div>
      <div class="form-group">
        <%= label_tag 'import_excel', nil, class: 'sr-only' %>
        <%= submit_tag t("university.import_excel_major_group_exam"),
          class: 'btn btn-primary' %>
      </div>
  <% end %>
<% end %>
</div>
</div>
<div class="box box-primary">
      <div class="box-body box-profile">
<table class="table table-bordered margin-0">
  <thead>
    <tr>
      <th class="center"><%= t "major.code" %></th>
      <th class="center"><%= t "major.name" %></th>
      <th class="center"><%= t "major.target" %></th>
      <th class="center"><%= t "major.group_exam" %></th>
      <th class="center", colspan="4"><%= t "admin.actions" %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @majors %>
  </tbody>
</table>
</div>
</div>
