<h1>Registers NV1</h1>
<h3>Number: <%= @major.registers.size %> examinees</h3>
<h3>Target: <%= @major.target %> examinees</h3>
<%= link_to "export_csv", export_registers_universities_major_path(@major, format: 'xlsx') %>
<table class="table table-bordered margin-0">
  <thead>
    <tr>
      <th class="center"><%= t "people_id" %></th>
      <th class="center"><%= t "student_id" %></th>
      <th class="center"><%= t "name" %></th>
      <th class="center"><%= t "major_code" %></th>
      <th class="center"><%= t "aspiration" %></th>
      <th class="center"><%= t "status" %></th>
      <th class="center"><%= t "year" %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @registers %>
  </tbody>
</table>
<div class="text-center">
  <%= paginate @registers %>
</div>
