<tr>
  <td><%= ff.object.numbering_order %></td>
  <td><%= link_to ff.object.major.code,
    university_major_path(ff.object.major.university, ff.object.major) %></td>
  <td><%= link_to ff.object.major.university.name,
    university_path(ff.object.major.university) %></td>
  <td><%= ff.object.major.target %></td>
  <td><%= t(ff.object.status) %></td>

  <td>
    <% group_exam = GroupExam.find_by id: ff.object.group_exam_id %>
    <%= (t("math")+"(#{group_exam.math})") unless group_exam.math == 0 %>
    <%= (t("literature")+"(#{group_exam.literature})") unless group_exam.literature == 0 %>
    <%= (t("english")+"(#{group_exam.english})") unless group_exam.english == 0 %>
    <%= (t("physical")+"(#{group_exam.physical})") unless group_exam.physical == 0 %>
    <%= (t("chemistry")+"(#{group_exam.chemistry})") unless group_exam.chemistry == 0 %>
    <%= (t("biological")+"(#{group_exam.biological})") unless group_exam.biological == 0 %>
    <%= (t("history")+"(#{group_exam.history})") unless group_exam.history == 0 %>
    <%= (t("geography")+"(#{group_exam.geography})") unless group_exam.geography == 0 %>
  </td>
  <td><%= ff.object.review_score %></td>
  <%= ff.hidden_field :major_id, value: ff.object.major.id %>
  <% if !register_time.nil? &&
    !register_time.start_aspiration_1.nil? &&
    Time.now >= register_time.start_aspiration_1 &&
    Time.now <= register_time.end_aspiration_1 %>
    <%= ff.hidden_field :_destroy, class: 'check-remove' %>
    <td><%= link_to t(:remove), '#', class: 'remove_row' %></td>
  <% end %>
</tr>
