<div class="box box-primary">
  <div class="box-body box-profile">
  <h2 class="text-center">Dang ki NV1</h2>
  <br>
  <%= form_for @current_examinee, url: examinees_registers_path, method: :get do |f| %>
    <table class="table table-bordered table-striped table-condensed">
      <thead>
        <tr>
          <th class="center"><%= t("major.code") %></th>
          <th class="center"><%= t("university.class_name") %></th>
          <th class="center"><%= t("major.target") %></th>
          <th class="center"><%= t("major.status") %></th>
          <th class="center"><%= t("major.group_exam") %></th>
          <th class="center"><%= t("major.score") %></th>
          <% if !register_time.nil? &&
            !register_time.start_aspiration_1.nil? &&
            Time.now >= register_time.start_aspiration_1 &&
            Time.now <= register_time.end_aspiration_1 %>
            <th class="center"><%= t "action" %></th>
          <% end %>
          <% if !register_time.nil? &&
            !register_time.start_admission_1.nil? &&
            Time.now >= register_time.start_admission_1 &&
            Time.now <= register_time.end_admission_1 %>
            <th class="center"><%= t "action" %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <%= f.fields_for :registers do |register| %>
          <%= render "register_fields", ff: register %>
        <% end %>
      </tbody>
    </table>
    <% if !register_time.nil? &&
      !register_time.start_aspiration_1.nil? &&
      Time.now >= register_time.start_aspiration_1 &&
      Time.now <= register_time.end_aspiration_1 %>

      <div class="text-center">
        <%= f.submit "Submit", class: "btn btn-primary" %>
      </div>

    <% end %>
  <% end %>
  </div>
</div>
