<tr>
  <td class="center"><%= register.examinee.people_id %></td>
  <td class="center"><%= register.examinee.student_id %></td>
  <td class="center"><%= register.examinee.name %></td>
  <td class="center"><%= register.major.code %></td>
  <td class="center"><%= register.aspiration %></td>
  <td class="center"><%= register.status %></td>
  <td class="center"><%= register.year %></td>
</tr>
