<%= form_for [:admins, @register_time] do |f| %>
  <%= render "shared/error_messages", object: @register_time %>
  <div class="col-md-8 col-md-offset-2">
  <%= f.number_field :year, value: Time.now.year, class: "form-control text-center", disabled: true %>
  </div>
  <div class="col-md-12 col-md-offset-1">
    <div class="col-md-3">
      <%= f.label :start_university_manage, t(:from) %>
      <%= f.date_field :start_university_manage, class: "form-control" %>
    </div>
    <div class="col-md-3">
      <%= f.label :end_university_manage, t(:to) %>
      <%= f.date_field :end_university_manage, class: "form-control" %>
    </div>
    <div class="col-md-6">
      <h4><%= t :university_manage %></h4>
    </div>
  </div>
  <div class="col-md-12 col-md-offset-1">
    <div class="col-md-3">
      <%= f.label :start_aspiration_1, t(:from) %>
      <%= f.date_field :start_aspiration_1, class: "form-control" %>
    </div>
    <div class="col-md-3">
      <%= f.label :end_aspiration_1, t(:to) %>
      <%= f.date_field :end_aspiration_1, class: "form-control" %>
    </div>
    <div class="col-md-6">
      <h4><%= t :aspiration_1 %></h4>
    </div>
  </div>
  <div class="col-md-12 col-md-offset-1">
    <div class="col-md-3">
      <%= f.label :start_update_benchmark_1, t(:from) %>
      <%= f.date_field :start_update_benchmark_1, class: "form-control" %>
    </div>
    <div class="col-md-3">
      <%= f.label :end_update_benchmark_1, t(:to) %>
      <%= f.date_field :end_update_benchmark_1, class: "form-control" %>
    </div>
    <div class="col-md-6">
      <h4><%= t :update_benchmark_1 %></h4>
    </div>
  </div>
  <div class="col-md-12 col-md-offset-1">
    <div class="col-md-3">
      <%= f.label :start_admission_1, t(:from) %>
      <%= f.date_field :start_admission_1, class: "form-control" %>
    </div>
    <div class="col-md-3">
      <%= f.label :end_admission_1, t(:to) %>
      <%= f.date_field :end_admission_1, class: "form-control" %>
    </div>
    <div class="col-md-6">
      <h4><%= t :admission_1 %></h4>
    </div>
  </div>
  <div class="col-md-8 col-md-offset-2 text-center" style="margin-top: 15px">
    <%= f.submit t(:submit), class: "btn btn-primary" %>
  </div>
<% end %>
