<% provide(:title, @examinee.name) %>
<div class="row">
  <aside class="col-md-5">
    <%= render "shared/examinee_info" %>
    <hr>
    <div class="center">
    <h2>Graduated Total</h2>
      <%= render "shared/result_graduated"%>
    </div>
  </aside>
  <div class="col-md-7">
    <h1><%= t :result %></h1>
    <%= render "shared/result_form" %>
    <h1><%= t :result_graduated %></h1>
    <%= render "shared/result_graduated_form" %>
  </div>
</div>