<div class="box box-primary">
  <div class="box-body box-profile">
    <%= search_form_for @search, url: major_searchs_path do |f| %>
      <div>
        <%= f.label :major_code_cont, t("major.code") %>
        <%= f.text_field :major_code_cont,
          placeholder: t("major.input_code"), class: "form-control" %>
      </div>
      <div>
        <%= f.label :name_cont, t("major.name") %>
        <%= f.text_field :name_cont,
          placeholder: t("major.input_name"), class: "form-control" %>
      </div>
      <div>
        <%= f.label :university_code_cont, t("university.code") %>
        <%= f.text_field :university_code_cont, placeholder:
          "Nhập mã trường đại học. Vd: bka", class: "form-control" %>
      </div>
      <br>
      <div>
        <%= f.label :university_name_cont, t("university.name") %>
        <%= f.text_field :university_name_cont, placeholder:
          "Nhập tên trường đại học", class: "form-control" %>
      </div>
      <br>
      <br>
      <%= f.submit t("search_major"), class: "btn btn-primary"%>
    <% end %>
  </div>
</div>

