<% provide :title, t("examinee.all") %>
<div class="row">
  <h1><%= t "examinee.all" %></h1>
  <hr/>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="center"><%= t "examinee.code" %></th>
        <th class="center"><%= t "examinee.name" %></th>
        <th class="center"><%= t "admin.actions" %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @universities %>
    </tbody>
  </table>
  <div class="text-center">
    <%= paginate @universities %>
  </div>
</div>
