<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t(:home), root_path %></li>
        <ul class="nav navbar-nav navbar-right">
        <% if cluster_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= t :account %><b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t(:all_clusters), clusters_path %></li>
              <li><%= link_to t(:profile), current_cluster %></li>
              <li><%= link_to t(:edit_profile), edit_cluster_registration_path %></li>
              <li class="divider"></li>
              <li>
                <%= link_to t(:log_out), destroy_cluster_session_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%=  t :cluster %><b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t(:all_clusters), clusters_path %></li>
              <li><%= link_to t(:log_in), new_cluster_session_path %></li>
            </ul>
          </li>
        <% end %>

        <% if examinee_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= t :account %><b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t(:profile), current_examinee %></li>
              <li><%= link_to t(:edit_profile), edit_examinee_registration_path %></li>
              <li class="divider"></li>
              <li>
                <%= link_to t(:log_out), destroy_examinee_session_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= t :examinee%><b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t(:log_in), new_examinee_session_path %></li>
            </ul>
          </li>
        <% end %>
      </ul>
      </ul>
    </nav>
  </div>
</header>