<aside class="main-sidebar">
  <% if university_signed_in? %>
  <section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">MAIN NAVIGATION</li>
      <li>
        <%= link_to universities_majors_path do %>
          <i class="fa fa-dashboard"></i>
          <span><%= t("university.manage_major") %></span>
        <% end %>
      </li>
      <li>
        <%= link_to universities_registers_path do %>
          <i class="fa fa-dashboard"></i>
          <span><%= t("university.manage_registers") %></span>
        <% end %>
      </li>
      <li>
        <%= link_to recomment_benchmarks_universities_majors_path do %>
          <i class="fa fa-dashboard"></i>
          <span><%= t("university.recomment_benchmarks") %></span>
        <% end %>
      </li>
      <li>
        <%= link_to universities_benchmarks_path do %>
          <i class="fa fa-dashboard"></i>
          <span><%= t("university.manage_benchmarks") %></span>
        <% end %>
      </li>
      <li>
        <%= link_to "" do %>
          <i class="fa fa-dashboard"></i>
          <span><%= t("university.manage_registers_elect") %></span>
        <% end %>
      </li>
    </ul>
  </section>
  <% else %>
    <%= render "layouts/guest_sidebar" %>
  <% end %>
</aside>
